# Ignorar arquivos de logs
*.log

# Ignorar diretórios de cache
.cache/
.pytest_cache/

# Ignorar arquivos de configuração do VSCode
.vscode/

# Ignorar arquivos do sistema operacional
.DS_Store
Thumbs.db

# Ignorar dependências do Python
__pycache__/
*.pyc

# Ignorar diretórios do Robot Framework
output/
log/
report/

# Ignorar arquivos de testes temporários
*.bak
*.swp
